= form_for <%= item_path :instance_variable => true %> do |f|
  = f.error_messages
  <%- for attribute in model_attributes -%>
  .form-group
    = f.label :<%= attribute.name %>
    .control
      = f.<%= attribute.field_type %> :<%= attribute.name %>
  <%- end -%>
  .actions
    = f.submit, class: 'btn btn-small'
