<h1> Edit <%= instance_name.titleize %> </h1>

<%%= form_for @<%= instance_name %>, :url => <%= item_path  %>(@<%= instance_name %>) do |f| %>
  <%%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%%= f.submit 'Update' , :class => 'button' %></div>
<%% end %>

<%- if actions? :show, :index -%>
<p>
<%- if action? :show -%>
  <%%= link_to "Show", <%= item_path :instance_variable => true %>, :class => 'button' %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to "View All", <%= items_path %>, :class => 'button' %>
<%- end -%>
</p>
<%- end -%>
