<%% content_for :head do -%>

<%% end %>

<h1> <%= instances_name.titleize %> </h1>

<div id="<%= instance_name %>_grid_wrapper" class='pretty_table'>
  <table>
    <thead>
      <tr class='odd'>
      <%- for attribute in model_attributes -%>
        <%- if attribute == model_attributes.first %>
          <th  class='column1_header'><%%= sortable '<%= attribute.name %>', '<%= attribute.human_name.titleize %>' %></th>
        <%- else -%>
          <th><%= attribute.human_name.titleize %></th>
        <%- end -%>
      <%- end -%>
        <%- if action? :edit -%>
          <th></th>
        <%- end -%>
        <%- if action? :destroy -%>
          <th></th>
        <%- end -%>
      </tr>
    </thead>
    <tbody>
    <%% for <%= instance_name %> in @<%= instances_name %> %>
      <tr  class='<%%= cycle("odd", "")%>'>
      <%- for attribute in model_attributes -%>
        <%- if (attribute == model_attributes.first) && (action? :show) %>
          <td><%%= link_to <%= instance_name %>.<%= attribute.name %>, <%= item_path %> %></td>
        <%- else -%>
          <td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
        <%- end -%>
      <%- end -%>
      <%- if action? :edit -%>
        <td><%%= link_to "", <%= item_path action: :edit %> %></td>
      <%- end -%>
      <%- if action? :destroy -%>
        <td><%%= link_to "", <%= item_path %>, data: { confirm: 'Are you sure?' }, method: :delete %></td>
      <%- end -%>
      </tr>
    <%% end %>
    </tbody>
  </table>
</div>

<%%= will_paginate @<%= instances_name %> %>

<%- if action? :new -%>
<p><%%= link_to "New <%= instance_name.titleize %>", <%= item_path action: :new %>, class: 'button' %></p>
<%- end -%>
