<h1> New <%= instance_name.titleize %> </h1>

<%%= form_for @<%= instance_name %>, :url => <%= items_path %>(@<%= instance_name %>) do |f| %>
  <%%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%%= f.submit 'Create' , :class => 'button' %></div>
<%% end %>

<%- if action? :index -%>
<p><%%= link_to "Back to List", <%= items_path %>, :class => 'button' %></p>
<%- end -%>
