<h1> <%=  instance_name.titleize %> </h1>

<ul>
<%- for attribute in model_attributes -%>
  <li>
    <label><%= attribute.human_name.titleize %>:</label>
    <%%= @<%= instance_name %>.<%= attribute.name %> %>
  </li>
<%- end -%>
</ul>
<p>
<%- if action? :edit -%>
  <%%= link_to "Edit", <%= item_path :action => :edit, :instance_variable => true %>, :class => 'button' %> |
<%- end -%>
<%- if action? :destroy -%>
  <%%= link_to "Destroy", <%= item_path :instance_variable => true %>, :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'button' %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to "View All", <%= items_path %>, :class => 'button' %>
<%- end -%>
</p>
